.aside_about_item{
	margin-top: 10px;
	border-radius: 5px;
	width: 100%;
	height: 48px;
}

.aside_about_item .title{
	padding-top: 2px;
	padding-left: 54px;
	font-size: 1.2em;
	font-weight: bold;
}

.aside_about_item .info{
	margin-top: 5px;
	padding-left: 54px;
	font-size: 1em;\
}

.aside_about_item.about_weibo{
	background: url(/images/weibo.png) 0px 0px no-repeat;
}

.aside_about_item.about_coder{
	background: url(/images/coder.png) 0px 0px no-repeat;
}

.aside_about_item.about_blizzard{
	background: url(/images/blizzard.png) 0px 0px no-repeat;
}

.aside_about_item.about_mu{
	background: url(/images/mu.png) 0px 0px no-repeat;
}