<section>
  <h1>关于 我</h1>
  <div class="aside_about_item about_coder">
	<div class="title">程序员</div>
	<div class="info">Coder, Hacker, Geek.</div>
  </div>
  <div class="aside_about_item about_blizzard">
	<div class="title">暴雪粉丝</div>
	<div class="info">Your magic is mine.</div>
  </div>
  <div class="aside_about_item about_mu">
	<div class="title">曼联伪球迷</div>
	<div class="info">May St.Gea bless you.</div>
  </div>
  <div class="aside_about_item about_weibo">
	<div class="title">新浪微博</div>
	<div class="info"><a href="http://weibo.com/u/1351098864" target="_blank">@班登_Beside</a></div>
  </div>
  <div class="aside_about_item">
  <a href="http://stackoverflow.com/users/4466221/bandon" style="white-space: nowrap;">
	<img src="http://stackoverflow.com/users/flair/4466221.png?theme=clean" width="208" height="58" alt="profile for Bandon at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Bandon at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
	</a>
  </div>
</section>
